vendor
wp-content
.DS_Store
yarn.lock

/node_modules
/dist
/screenshots
/design-voorstellen
/.playwright-mcp

# Markdown files (except docs)
*.md
!README.md
!INSTALL.md
.env
.twig-cs-fixer.cache
bin/
