<div class="w-full mx-auto max-w-960 py-4">
    {% if block.tekst_boven_artikelen %}
        <h2 class="font-bold text-3xl pb-4">{{ block.tekst_boven_artikelen }}</h2>
    {% endif %}

    <div class="lg:grid grid-cols-4 gap-4">
        {% for post in block.posts %}
            {% include 'partial/post-tile.twig' with {'post': post} only %}
        {% endfor %}
    </div>
</div>
