<div class="bg-gray-800 text-white">
    <div class="w-full mx-auto max-w-960">
        <div class="lg:grid grid-cols-3">
            <div class="lg:col-span-2 lg:col-start-2">
                <div class="px-4 pt-4">
                    {% set title = block.term.title %}
                    {% if block.tekst_boven_dossier %}
                        <h1 class="text-3xl font-bold">{{ block.tekst_boven_dossier }}</h1>
                    {% else %}
                        <h1 class="font-bold">
                            <span class="block text-sm tracking-wide uppercase font-round">Dossier</span>
                            <span class="block text-3xl">{{ term.name }}</span>
                        </h1>
                    {% endif %}
                    <div class="prose text-white py-4">{{ block.term.description }}</div>
                </div>

                <ul class="divide-y divide-gray-700 mb-4">
                    {% for post in block.posts %}
                        {% include 'partial/dossier-post-tile.twig' with { post: post } %}
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
