<div class="grid grid-cols-3 gap-4">
    {% for post in block.posts %}
        <a class="block" href="{{ post.link }}">
            <img class="w-full" src="{{ post.thumbnail.src|resize(160) }}"/>
            <h1>{{ post.title }}</h1>
        </a>
    {% endfor %}
</div>
