<div class="px-4 py-2">
    <a href="#" class="block bg-pink-600 rounded-xl p-4 text-white">
        <span class="block font-round font-extrabold uppercase text-sm">Nu op Zuidwest FM</span>
        <span class="block font-black text-2xl">Jos Wordt Wakker</span>
    </a>
</div>
<div class="px-4 py-2">
    <a href="#" class="block bg-blue-600 rounded-xl p-4 text-white">
        <span class="block font-round font-extrabold uppercase text-sm">Nu op Zuidwest TV</span>
        <span class="block font-black text-2xl">Cocktail</span>
    </a>
</div>
