<div class="max-w-960 mx-auto">
    <div class="grid sm:grid-cols-2 gap-4 py-4">
        <a href="#" class="block bg-pink-600 p-4 text-white">
            <span class="block font-round font-extrabold uppercase text-sm">Nu op Zuidwest FM</span>
            {% if block.fm.show %}
                <span class="block font-black text-2xl">{{ block.fm.show.title }}</span>
            {% else %}
                <span class="block font-black text-2xl">{{ block.fm.title }}</span>
            {% endif %}
        </a>

        <a href="#" class="block bg-blue-600 p-4 text-white">
            <span class="block font-round font-extrabold uppercase text-sm">Vandaag op Zuidwest TV</span>
            <span class="block font-black text-2xl">Cocktail</span>
        </a>
    </div>
</div>
