@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-stories {
    @apply grid-cols-2;
}

.grid-stories .main {
    @apply col-span-2;
}

.zw-block-content {
    height: 66vw;
    min-height: 135px;
    max-height: 55vh;
}

.main .zw-block-content {
    max-height: 400px;
}

@screen sm {
    .grid-stories {
        grid-template-columns: 47.35043% 1fr 1fr;
    }

    .grid-stories .main {
        @apply col-span-1;
    }

    .zw-block-content,
    .main .zw-block-content {
        height: auto;
        max-height: none;
    }

    .sm\:stories-pad::before {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-top: 84.115608492%;
    }
}

.zw-prose p:first-child {
    @apply font-bold;
}

.wpcf7-form-control {
    @apply w-full px-3 py-2 border rounded-md border-gray-300;
    @apply focus:outline-none focus:border-blauw;
}

.wpcf7-submit {
    /* Undo some borders */
    @apply border-none;
    @apply bg-blauw text-white px-4 py-3;
    @apply focus:outline-none
}
