@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-stories {
    @apply grid-cols-2;
}

.grid-stories .main {
    @apply col-span-2;
}

.zw-block-content {
    height: 66vw;
    min-height: 135px;
    max-height: 55vh;
}

.main .zw-block-content {
    max-height: 400px;
}

@screen sm {
    .grid-stories {
        grid-template-columns: 47.35043% 1fr 1fr;
    }

    .grid-stories .main {
        @apply col-span-1;
    }

    .zw-block-content,
    .main .zw-block-content {
        height: auto;
        max-height: none;
    }

    .sm\:stories-pad::before {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        padding-top: 84.115608492%;
    }
}

.zw-prose p:first-child {
    @apply font-bold;
}

.wpcf7-form-control {
    @apply w-full px-3 py-2 border rounded-md border-gray-300;
    @apply focus:outline-none focus:border-blauw;
}

.wpcf7-submit {
    /* Undo some borders */
    @apply border-none;
    @apply bg-blauw text-white px-4 py-3;
    @apply focus:outline-none
}

/* Pullquote */

.prose blockquote {
    @apply border-none font-round text-xl text-gray-600;
    text-transform: none;
    text-align: center;
    line-height: 1em;
    padding: 2em 1em;
    position: relative;
    font-style: normal;
    margin-top: 1em;
    margin-bottom: 1em;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
    content: none;
}

.prose blockquote:before,
.prose blockquote:after {
    display: block;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    @apply text-groen;
    @apply font-round;
    font-size: 4.5em;
    line-height: 1;
}

.prose blockquote:before {
    content: open-quote;
    top: 0;
}

.prose blockquote:after {
    content: close-quote;
}

.prose blockquote p {
    font-size: 1.3em;
    line-height: 1.3;
    margin: 0;
}

.prose .wp-caption * {
    margin: 0;
}

.prose .wp-caption-text {
    @apply text-sm text-gray-500 text-center pt-2;
}

.prose .video-js video {
    margin: 0;
}
