{% extends "base.twig" %}

{% set showArchive = false %}
{% block content %}
    <div class="max-w-960 mx-auto px-4">
        {% embed "partial/tabs.twig" %}
            {% block title %}
                De programma's van
            {% endblock %}

            {% block content %}
                {{ _self.tab('ZuidWest TV', 'icon-tv', function('get_post_type_archive_link', 'tv')) }}
                {{ _self.tab_active('ZuidWest FM', 'icon-radio', function('get_post_type_archive_link', 'fm')) }}
            {% endblock %}
        {% endembed %}

        <div class="prose text-center prose-lg mt-4 max-w-none">
            <p>Bekijk alle informatie over onze programma's en luister uitzendingen terug.</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 py-8">
            {% for post in posts %}
                {% if post.meta('fm_show_actief') %}
                    {% include 'partial/tile-fm-show.twig' with { post: post } %}
                {% else %}
                    {% set showArchive = true %}
                {% endif %}
            {% endfor %}
        </div>

        {% if showArchive %}
            <h1 class="font-bold text-3xl pt-4">Programma-archief</h1>
            <div class="prose prose-lg">
                <p>Deze programma's worden niet meer uitgezonden, maar je kunt ze nog wel terugluisteren.</p>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 py-8">
                {% for post in posts %}
                    {% if not post.meta('fm_show_actief') %}
                        {% include 'partial/tile-fm-show.twig' with { post: post } %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
