{% extends "base.twig" %}

{% block content %}
    <div class="max-w-960 mx-auto px-4">
        <h1 class="font-bold text-3xl pt-4">De programma's van ZuidWest TV</h1>
        <div class="prose prose-lg">
            <p>Lees alles over de programma's van ZuidWest TV of kijk uitzendingen terug.</p>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4 py-8">
            {% for post in posts %}
                <a class="block" href="{{ post.link }}">
                    <div class="aspect-w-4 aspect-h-3 bg-blue-900 rounded overflow-hidden">
                        <img class="w-full h-full object-cover" src="{{ post.thumbnail.src|resize(400, 300) }}"/>
                    </div>
                    <p class="text-center mt-2 font-bold text-sm">{{ post.title }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
