{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "archive.twig" %}

{% block content %}
    <img src="{{ Image(term.dossier_afbeelding).src }}"/>
    <div class="w-full mx-auto max-w-960 py-4 px-4">
        <div class="lg:grid gap-4 grid-cols-3">
            <div class="lg:col-start-2 lg:col-span-2">
                <h1 class="font-bold pb-4 lg:pb-0">
                    <span class="block text-sm tracking-wide uppercase font-round">Dossier</span>
                    <span class="block text-3xl">{{ term.name }}</span>
                </h1>
            </div>

            <div class="lg:row-start-1 lg:row-span-2">
                <div class="hidden lg:block overflow-hidden bg-gray-800 rounded">
                    <div class="aspect-h-16 aspect-w-9">
                        <div>
                            <img class="absolute inset-0 w-full" loading="lazy"
                                 src="{{ Image(term.meta('dossier_afbeelding_hoog'))|resize(9*48,16*48) }}"/>
                        </div>
                    </div>
                </div>
                <div class="prose pb-4">{{ term.description }}</div>
            </div>

            <div class="lg:col-start-2 lg:col-span-2 grid sm:grid-cols-2 gap-4">
                {% for post in posts %}
                    {% include 'partial/tile-post.twig' with { post: post } %}
                {% endfor %}
            </div>
        </div>


        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
    </div>
{% endblock %}
