<a class="block bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 px-4 py-2 rounded-sm my-5 hover:bg-gray-300 transition"
   style="text-decoration: none;!important;"
   href="{{ post.link }}"
   data-post-id="{{ post.id }}">
    <span class="block font-black font-round text-xs uppercase pt-1 text-black dark:text-white">Lees ook:</span>
    <span class="block text-lg font-bold text-blauw">{{ post.title }}</span>
</a>
