{% extends "base.twig" %}

{% block content %}
    <div class="max-w-960 mx-auto">
        <h2 class="text-3xl font-bold">{{ title }}</h2>

        <div class="grid grid-cols-3 gap-8">
            {% for post in posts %}
                <a href="{{ post.link }}" class="block">
                    <div class="aspect-w-16 aspect-h-9 relative bg-gray-800">
                        <img class="absolute inset-0 object-cover" src="{{ post.thumbnail.src }}"/>
                    </div>
                    {% include 'partial/tag-region.twig' with { region: post.region } %}
                    <h2 class="text-xl font-bold">{{ post.title }}</h2>
                </a>
            {% endfor %}
        </div>

        {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1}) } %}
    </div>

{% endblock %}
