{% extends "base.twig" %}

{% block content %}
    <div class="bg-black text-white">
        <div class="w-full mx-auto lg:max-w-960 lg:pt-12 lg:mb-12">
            <div class="aspect-w-16 aspect-h-9 ">
                <div>
                    <video class="video-js vjs-fluid vjs-big-play-centered playsinline" data-setup='{"liveui": true}' autoplay controls>
                        {% if options.tv_webplayer_hls_stream %}
                            <source src="{{ random(['https://live.zuidwesttv.nl/live/zwtv.m3u8', 'https://live2.zuidwesttv.nl/live/zwtv.m3u8', 'https://live3.zuidwesttv.nl/live/zwtv.m3u8']) }}" type="application/x-mpegURL">
                        {% endif %}
                    </video>
                </div>
            </div>
        </div>

        <div class="mx-auto max-w-3xl px-4 lg:px-0 mt-6 pb-6">
            <h1 class="font-bold text-3xl">{{ post.title }}</h1>

            <h2 class="mt-4 font-bold text-xl">Frequenties</h2>
            <ul>
                {% for channel in options.tv_frequenties %}
                    <li>{{ channel.tv_frequenties_aanbieder }}: {{ channel.tv_frequenties_kanaal }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
