{% extends "base.twig" %}

{% block content %}
    <div class="grid grid-cols-2">
        {% for post in topstories %}
            <a class="block bg-yellow-500 {{ loop.first? 'col-span-2' }}" href="{{ post.link }}" style="height: 66vw; max-height: 400px">
                <h1>{{ post.title }}</h1>
            </a>
        {% endfor %}
    </div>

    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            {% for block in options.blokken_voorpagina %}
                {% include ['blocks/' ~ block.acf_fc_layout ~ '.twig', 'blocks/block.twig'] with {block: block} only %}
            {% endfor %}
        </div>
        <div>
            {% for block in options.blokken_sidebar %}
                {% include ['blocks/' ~ block.acf_fc_layout ~ '.twig', 'blocks/block.twig'] with {block: block} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
