{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends 'base.twig' %}

{% block content %}
    <div class="bg-white dark:bg-gray-800 text-black dark:text-white border-b border-gray-300/50 dark:border-gray-700">
        <div class="px-4 mx-auto max-w-xl">
            <form class="flex items-center justify-center py-4" role="search" method="get" id="searchform"
                  action="{{ function('home_url', '/') }}">
                <input class="appearance-none bg-transparent border border-gray-400 dark:border-gray-600 rounded-md focus:outline-0 focus:ring focus:ring-blauw focus:ring-opacity-20 focus:border-blauw block w-full text-lg p-2 text-black dark:text-white transition" placeholder='Zoek naar...' type="search"
                       value="{{ function('get_search_query') }}" name="s" id="s"/>

                <input class="flex-none appearance-none block text-lg rounded p-2 sm:px-8 ml-4 uppercase bg-blauw hover:brightness-110 cursor-pointer"
                       type="submit" value="Zoeken">
            </form>
        </div>
    </div>
    <div class="max-w-960 mx-auto p-4">
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for post in posts %}
                {{ include(['partial/tile-' ~ post.post_type ~ '.twig', 'partial/tile.twig'], {post: post}) }}
            {% endfor %}
        </div>
        {{ include('partial/pagination.twig', {pagination: posts.pagination({show_all: false, mid_size: 1, end_size: 1})}) }}
    </div>
{% endblock %}
