<li>
    <a class="flex hover:underline items-center" href="{{ post.link }}">
        <span class="py-2 px-4 flex-grow">{{ post.title }}</span>
        <i class="flex-none pr-4">{{ icon('icon-chevron_right') }}</i>
    </a>
</li>
