<div class="aspect-w-16 aspect-h-9 ">
    <div>
        <audio class="video-js vjs-fluid vjs-big-play-centered playsinline" data-setup="{}" autoplay
               controls poster="{{ fragment.thumbnail.src|thumbor(1280, 720) }}">
            <source src="{{ fragment.meta('fragment_url', {format_value: false}) }}" type="audio/mp3">
            Your browser does not support the audio tag.
        </audio>
    </div>
</div>
