{% set showPlayButton = false %}
{% if post.type == 'fragment' %}
    {% set showPlayButton = true %}
{% elseif post.type == 'post' and post.meta('post_gekoppeld_fragment') and post.meta('post_fragment_is_featured') %}
    {% set showPlayButton = true %}
{% endif %}
{% set width = width|default(228) %}
<div class="aspect-video relative">
    <div class="{% if dark ?? false %}bg-gray-900{% else %}bg-gray-200{% endif %}">
        {% if post.thumbnail %}
            <img class="w-full h-full object-cover" loading="lazy" alt="{{ post.thumbnail.alt }}"
                 src="{{ post.thumbnail.src|thumbor(width, width / 16 * 9) }}"
                 srcset="{{ post.thumbnail.src|thumbor(width * 2, (width * 2) / 16 * 9) }} 2x"/>
        {% endif %}
        {% if showPlayButton %}
            <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 w-8 h-8 bg-groen rounded-full ring-2 ring-white flex items-center justify-center">
                <span class="w-3.5 h-3.5 ml-0.5 text-white">{{ icon('icon-play_arrow') }}</span>
            </div>
        {% endif %}
    </div>
</div>
