{% set showPlayButton = false %}
{% if post.type == 'fragment' %}
    {% set showPlayButton = true %}
{% elseif post.type == 'post' and post.meta('post_gekoppeld_fragment') and post.meta('post_fragment_is_featured') %}
    {% set showPlayButton = true %}
{% endif %}
{% set width = width|default(228) %}
<div class="aspect-w-4 aspect-h-3 sm:aspect-w-16 sm:aspect-h-9">
    <div class="{% if dark ?? false %}bg-gray-900{% else %}bg-gray-200{% endif %}">
        {% if post.thumbnail %}
            <img class="w-full h-full object-cover" loading="lazy"
                 src="{{ post.thumbnail.src|resize(width, width / 16 * 9)|tojpg }}"
                 srcset="{{ post.thumbnail.src|resize(width * 2, (width * 2) / 16 * 9)|tojpg }} 2x"/>
        {% endif %}
        {% if showPlayButton %}
            <div class="absolute w-8 h-8 -m-4 p-1 bg-groen text-white left-1/2 top-1/2 rounded-full">{{ icon('icon-play_arrow') }}</div>
        {% endif %}
    </div>
</div>
