{% set showPlayButton = false %}
{% if post.type == 'fragment' %}
    {% set showPlayButton = true %}
{% elseif post.type == 'post' and post.meta('post_gekoppeld_fragment') and post.meta('post_fragment_is_featured') %}
    {% set showPlayButton = true %}
{% endif %}
{% set width = width|default(228) %}
<div class="aspect-[4/3] sm:aspect-video relative">
    <div class="absolute inset-0 {% if dark ?? false %}bg-gray-900{% else %}bg-gray-200{% endif %}">
        {% if post.thumbnail %}
            <img class="w-full h-full object-cover" loading="lazy" alt="{{ post.thumbnail.alt }}"
                 src="{{ post.thumbnail.src|thumbor(width, width / 16 * 9) }}"
                 srcset="{{ post.thumbnail.src|thumbor(width * 2, (width * 2) / 16 * 9) }} 2x"/>
        {% endif %}
        {% if showPlayButton %}
            <div class="absolute w-8 h-8 -m-4 p-1 bg-groen text-white left-1/2 top-1/2 rounded-full">{{ icon('icon-play_arrow') }}</div>
        {% endif %}
    </div>
</div>
