{% set showPlayButton = false %}
{% if post.type == 'fragment' %}
    {% set showPlayButton = true %}
{% elseif post.type == 'post' and post.meta('post_gekoppeld_fragment') and post.meta('post_fragment_is_featured') %}
    {% set showPlayButton = true %}
{% endif %}
{% set width = width|default(228) %}
<div class="aspect-w-16 aspect-h-9">
    <div>
        <img class="w-full" loading="lazy" src="{{ post.thumbnail.src|resize(width, width / 16 * 9) }}"
             srcset="{{ post.thumbnail.src|resize(width * 2, (width * 2) / 16 * 9) }} 2x"/>
        {% if showPlayButton %}
            <div class="absolute w-8 h-8 -m-4 p-1 bg-green-400 text-white left-1/2 top-1/2 rounded-full">{{ icon('icon-play_arrow') }}</div>
        {% endif %}
    </div>
</div>
