<article>
	<a class="block" href="{{ post.link }}">
    {% include 'partial/post-thumbnail.twig' with { post: post } %}
    <div class="pt-2">
        {% if region ?? true %}
            {% include 'partial/tag-region.twig' with { region: post.region } %}
        {% endif %}
        <h2 class="sm:text-xl font-semibold my-1">{{ post.title }}</h2>
    </div>
</a>
</article>
