<a class="block aspect-video relative" href="{{ post.link }}">
    <div class="bg-gray-50 text-gray-800 rounded-sm overflow-hidden">
        {% if post.thumbnail %}
            <img class="absolute inset-0 w-full h-full object-cover"
                 src="{{ post.thumbnail.src|thumbor(320, 180) }}"/>
        {% endif %}
        <div class="absolute flex flex-col inset-x-0 bottom-0 px-4 pb-3 pt-12 bg-gradient-to-b from-transparent to-gray-50 dark:to-gray-900">
            <h1 class="uppercase font-round font-black text-2xl text-black dark:text-white">{{ post.title }}</h1>

            {% set hosts = [] %}
            {% for host in post.meta('fm_show_presentator') %}
                {% set hosts = hosts|merge([get_user(host)]) %}
            {% endfor %}
            <p class="text-sm text-black dark:text-gray-100">{{ hosts|join(', ', ' en ') }}</p>
        </div>
        <div class="absolute inset-0 border rounded-sm border-gray-800/10 dark:border-gray-200/10 pointer-events-none"></div>
    </div>
</a>
