name: Build and deploy dev

on:
  workflow_dispatch:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: curl
          coverage: none

      - name: Install Composer dependencies
        run: |
          composer update
          composer install --no-dev --optimize-autoloader

      - name: Set-up Node
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Install Node dependencies
        run: |
          npm install
          npx browserslist@latest --update-db

      - name: Build CSS
        run: |
          npx @tailwindcss/cli -i assets/style.css -o dist/style.css --minify
          npx @tailwindcss/cli -i assets/editor.css -o dist/editor.css --minify
        env:
          NODE_ENV: production

      - name: Deploy to remote server
        uses: easingthemes/ssh-deploy@main
        with:
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER_DEV }}
          REMOTE_PORT: ${{ secrets.REMOTE_PORT }}
          TARGET: ${{ secrets.REMOTE_PATH_DEV }}
          SSH_PRIVATE_KEY: ${{ secrets.REMOTE_KEY }}
          ARGS: '-avz --delete'
          EXCLUDE: '/node_modules/, /.git/, /.github'
