name: Lint

on:
  push: ~
  pull_request: ~

jobs:
  phpcs:
    name: PHPCS
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ["8.3", "8.4"]

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl
          coverage: none
          tools: composer:v2, cs2pr

      - run: composer install --no-progress

      - run: vendor/bin/phpcs -q --report=checkstyle | cs2pr
